<!DOCTYPE html>
<html>
<head>
    <title>Edit Blog</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="/">My Blog</a>
        <a class="navbar-brand" href="/blog-list">List Blogs</a>
        <a class="navbar-brand" href="/blog-add">Add Blogs</a>
    </nav>
    <div class="container">
        <h1>Edit Blog</h1>
        <div class="row">
            <div class="col-md-6">
                <form action="/blog-edit/<%= blog._id %>" method="GET">
                    <div class="form-group">
                        <label for="blogTitle">Blog Title</label>
                        <input type="text" class="form-control" id="blogTitle" name="blogTitle" value="<%= blog.blogTitle %>">
                    </div>
                    <div class="form-group">
                        <label for="blogEntry">Blog Entry</label>
                        <textarea class="form-control" id="blogEntry" name="blogEntry" rows="5"><%= blog.blogEntry %></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
