<!DOCTYPE html>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<html>
    <link rel="stylesheet" href="/css/style.css"/>

<nav class="navbar">
    <a class="navbar-brand" href="/">My Blog</a>
    <a class="navbar-brand" href="/blogList">List Blogs</a>
    <a class="navbar-brand" href="/blogAdd">Add Blogs</a>
</nav>
<div class="container">
    <h1>Add Blog</h1>
    <form action="/blogAdd" method="post">
        <div class="form-group">
            <label for="title">Blog Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="content">Blog Text</label>
            <textarea class="form-control" id="content" name="content" placeholder="Enter content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</html>
