<!DOCTYPE html>
<link rel="stylesheet" href="/css/bootstrap.min.css" />

<html>
  <link rel="stylesheet" href="/css/style.css"/>

  <nav class="navbar">
      <a class="navbar-brand" href="/">My Blog</a>
      <a class="navbar-brand" href="/blog-list">List Blogs</a>
      <a class="navbar-brand" href="/blog-add">Add Blogs</a>
  </nav>
     
  <title>Christian Michels Blog Site</title>
  <h1>Christian Michel Blog Site</h1>
  <p>Welcome to my really cool blog site!</p>

</html>
