<!DOCTYPE html>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<html>
    <link rel="stylesheet" href="/css/style.css"/>

<nav class="navbar">
    <a class="navbar-brand" href="/">My Blog</a>
    <a class="navbar-brand" href="/blogList">List Blogs</a>
    <a class="navbar-brand" href="/blogAdd">Add Blogs</a>
</nav>
<h1>Currently Under Construction</h1>
</html>
