body {
  background: linear-gradient(-45deg, #eca204, #000000, #000000, #fe8801);
  background-size: 500% 500%;
  animation: gradient 30s ease infinite;
  min-height: 100vh;
  height: 100vh;
  color: #fff; /* Default text color */
  font-family: "Roboto Mono", monospace;
}
.row {
  display: flex; /* Use flexbox to arrange items horizontally */
  flex-wrap: wrap; /* Allow items to wrap to the next row if necessary */
  padding: 40px; /* Increased padding for rows */
}

.card {
  margin-right: 20px; /* Add margin between cards */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.list-title
{
  font-size: 48px; /* Increased font size for list title */ 
  font-weight: bold;

}

.roboto-mono-robot {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.navbar a {
  color: #ffbb00; /* Navbar link color */
  font-size: 24px; /* Increased font size for navbar links */
  font-family: "Roboto Mono", monospace;
}

.navbar a:hover {
  color: #ff8c00; /* Navbar link color on hover */
}
.card {
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #352a2a; /* Dark background color for cards */
  color: #fff; /* Text color for cards */
  padding: 20px; /* Adjusted padding for smaller cards */
}

.card-header {
  background-color: #000;
  padding: 10px; /* Adjusted padding for card header */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 18px; /* Adjusted font size for card header */
}

.card-footer {
  background-color: #000;
  padding: 10px; /* Adjusted padding for card footer */
  border-bottom: 1px solid #444; /* Darker border color */
  font-size: 18px; /* Adjusted font size for card footer */
}

.card-body {
  padding: 10px; /* Adjusted padding for card body */
  background-color: #000000;
}

.card-title {
  margin-bottom: 15px; /* Adjusted margin bottom for card title */
  font-size: 20px; /* Adjusted font size for card title */
  font-weight: bold;
}

.card-text {
  text-align: left; /* Justify text alignment for card text */
  font-size: 18px; /* Adjusted font size for card text */
}

.posted-date {
  font-size: 12px; /* Decreased font size for posted date */
  color: #ccc; /* Lighter text color for date */
}

.icon-link {
  color: #ccc; /* Lighter text color for icon links */
  margin-left: 10px; /* Adjusted margin left for icon links */
}

.footer {
  background-color: #000;
  color: #ccc; /* Lighter text color for footer */
  text-align: center;
  padding: 15px; /* Increased padding for footer */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.jumbotron {
  background-color: #222426; /* Dark background color for jumbotron */
  padding: 40px; /* Increased padding for jumbotron */
  margin-bottom: 40px;
  font-size: 20px; /* Increased font size for jumbotron */
}
