body {
  height: 100vh;
  background-image: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.navbar
{
  padding: 0px;
  background-color: rgb(0, 0, 0)
  
}

a:hover
{
  color: #b75d09;
}

  
a {
  color: #ffd000;
}

.card {
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  margin-bottom: 20px; /* Add spacing between boxes */
}

.card-header,
.card-footer {
  background-color: black; /* Light background color for header and footer */
  padding: 10px; /* Add padding */
  border-bottom: 1px black; /* Add border at bottom of header and footer */
  font-size: medium;
}

.card-body {
  padding: 15px; /* Add padding */
  background-color: black;

}

.card-title {
  margin-bottom: 10px; /* Add spacing below title */
  font-size: 1.25rem; /* Increase title font size */
  font-weight: bold; /* Make title bold */
}

.card-text {
  margin-bottom: 15px; /* Add spacing below text */
  color: white;
  font-size: medium;
}

.posted-date {
  font-size: 0.85rem; /* Decrease font size for date */
  color: #666; /* Dim date text */
}

.icon-link {
  color: #000000; /* Blue color for icon links */
  margin-left: 10px; /* Add spacing between icon links */
}
 
.footer {
  background-color: #000000;
  color: #000000;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

 
