body {
 
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #d2e1cb;
    color:  black;
    background-image: url("./pexels-adrien-olichon-2387793.jpg");
    
  }
  
  a {
    color: #ffffff;
  }
  
  /* change the background color */
  .navbar
  {
    padding: 0px;
    background-color: #000000;
  }


  a:hover
  {
    color: #7ca208;
  }
  
  